{% extends 'model/index.html.twig' %}

{% block siteName %}Unsere Freunde{% endblock %}

{% block background %}{{ asset('img/partner.jpg') }}{% endblock %}

{% block contentFooter %}
    <p>Gepostet am {{ model.createdAt|date("d.m.Y") }} um {{ model.createdAt|date("h:m") }} Uhr</p>
{% endblock %}

{% block modelLink %}{{ model.link }}{% endblock %}
{% block footnote %}{% endblock %}