{% extends 'base.html.twig' %}

{% block siteName %}Impressum{% endblock %}

{% block background %}{{ asset('img/cover/about.jpg') }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-offset-2 col-md-10">
        <h2>Studentenclub Kiste e.V.</h2>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-offset-3 col-md-1">
        <h4>Adresse:</h4>
    </div>
    <div class="col-md-8">
        <h4>Campus der Medizinischen Universität Magdeburg</h4>
    </div>
    <div class="col-md-offset-4 col-md-8">
        <h4>Haus 31a</h4>
    </div>
    <div class="col-md-offset-4 col-md-8">
        <h4>Leipziger Strasse 44</h4>
    </div>
    <div class="col-md-offset-4 col-md-8">
        <h4>39120 Magdeburg</h4>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-offset-3 col-md-1">
        <h4>Telefon:</h4>
    </div>
    <div class="col-md-8">
        <h4>0391 / 6714325</h4>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-offset-3 col-md-1">
        <h4>Mail:</h4>
    </div>
    <div class="col-md-8">
        <a href="mailto:kontakt@club-kiste.de" target="_top"><h4>kontakt@club-kiste.de</h4></a>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-offset-3 col-md-9">
        <h4>Vorsitzende:</h4>
    </div>
    <div class="col-md-offset-4 col-md-8">
        <h4>Susanne Marquenie und Willi Pieper</h4>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-offset-3 col-md-9">
        <h4>Verantwortlich für den Inhalt:</h4>
    </div>
    <div class="col-md-offset-4 col-md-8">
        <h4>Oliver Görtz und Alexander Wilke</h4>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-offset-3 col-md-9">
        <h4>Registereintrag:</h4>
    </div>
    <div class="col-md-offset-4 col-md-8">
        <h4>Vereinsregisternr.: 10956</h4>
    </div>
    <div class="col-md-offset-4 col-md-8">
        <h4>Registergericht: Amtsgericht Stendal</h4>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-offset-3 col-md-9">
        <h4>Download Logo:</h4>
    </div>
    <div class="col-md-offset-4 col-md-8">
        <a href=".{{ asset('img/KisteK.png') }}"><h4>KisteK.png</h4></a>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-9">
        <h4>Karte:</h4>
    </div>
</div>


<div class="row" align="center">
    <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3465.972654714806!2d11.61814011746683!3d52.10133902464595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a5f5c4644f5311%3A0xeff2183868fc1f92!2sStudentenclub+Kiste+e.V.!5e0!3m2!1sde!2sde!4v1444927258159"
            width="600" height="450" frameborder="0" style="border: 0"
            allowfullscreen></iframe>
</div>
{% endblock %}
