<!-- FOOTER -->
<hr class="featurette-divider" />
<footer>
    <p class="pull-right">
        {% if app.user %}
            <a href=" {{ path('fos_user_security_logout') }} ">Ausloggen</a>
        {% else %}
            <a href=" {{ path('fos_user_security_login') }} ">Einloggen</a>
        {% endif %}

        &middot; <a href="#">Nach oben</a>
    </p>
    <p>
        &copy; {{ "now"|date("Y") }} Studentenclub Kiste e.V. &middot; <a
                href="{{ path('about') }}">Impressum</a>
    </p>
</footer>