<!-- FOOTER -->
<hr style="width: 100%; height: 1px;"/>
<footer>
    <p class="pull-right">
        Bildquelle: Petra Bork & Tim Reckmann / <a href="www.pixelio.de">pixelio.de</a> &middot;
        <?php
			if ($admin) {
				?>
        <a href="php/logout.php">Ausloggen</a>
        <?php
			} else {
				?>
        <a href="login.php">Einloggen</a>
        <?php
			}
			?>
        &middot; <a href="#">Nach oben</a>
    </p>
    <p>
        &copy; 2015 Studentenclub Kiste e.V. &middot; <a
                href="menu/impressum.php">Impressum</a>
    </p>
</footer>