<div class="col-md-5">
    <a target="_blank"  href="{{ path('post_show', { 'id': post.id }) }}">
        <div style="height: 350px; overflow: hidden;">
            <img class="featurette-image img-responsive"
                 src="{{ images_directory ~ post.image }}"
                 alt="Generic placeholder image">
        </div>
    </a>
</div>