{% extends 'model/index/layout.html.twig' %}

{% block featurette %}
   <a href="{{ path('party_show', {'id': model.id}) }}">
    <h2 class="featurette-heading">{{ model.title }}<span
               class="text-muted"> am {{ model.doorsopen|date("d.m.Y") }}</span></h2>
    <p class="lead">{{ model.content|truncate(500) }}</p>
   </a>
{% endblock %}