{% extends 'model/show.html.twig' %}

{% block siteName %}Party{% endblock %}

{% block background %}{{ asset('img/party.jpg') }}{% endblock %}

{% block modelSubtitle %}am {{ model.doorsopen|date('d.m.Y') }}{% endblock %}

{% block fields %}
    <tr>
        <td>Einlass:</td>
        <td>{{ model.doorsopen|date('H:i') }} Uhr</td>
    </tr>
    {% if model.admission is defined %}
        <tr>
            <td>Eintritt:</td>
            <td>{{ model.admission }} €</td>
        </tr>
    {% endif %}

    {% if model.boxoffice is defined %}
        <tr>
            <td>Abendkasse:</td>
            <td>{% if model.boxoffice %}Ja{% else %}Nein{% endif %}</td>
        </tr>
    {% endif %}

    {% if model.preselling is defined %}
        <tr>
            <td>Vorverkauf:</td>
            <td>{% if model.preselling %}Ja{% else %}Nein{% endif %}</td>
        </tr>
    {% endif %}

{% endblock %}