body {
	padding-top: 50px;
	padding-bottom: 40px;
	background-image: url("../img/welcome.jpg");
	background-size: 100% 250px;
	background-repeat: no-repeat;
	background-position: top center;
	color: #5a5a5a;
	background-color: #f8f8f8;
}

hr {
	color: #CCCCCC;
	background-color: #CCCCCC;
	height: 1px;
}

.jumbotron h1 {
	color: #ff0000;
	font-family: broadway_btregular;
	font-style: italic;
	font-size: 50px;
	margin:20px 0 20px 0;
}

.jumbotron {
	color: white;
	text-align: center;
	background-color: transparent;
	text-shadow: black 0.1em 0.1em 0.2em;
	margin: 5px 0 5px 0;
}

.marketing {
	padding-top: 50px;
}

.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

.marketing h2 {
	font-weight: normal;
}

.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}


.featurette a {
	color: inherit;
}

.featurette-divider {
	margin: 50px 0 50px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.featurette-heading {
	font-size: 40px;
}

.featurette a:hover {
	text-decoration: inherit;
	color: #337ab7;
}

.featurette a:focus {
	text-decoration: inherit;
	color: #337ab7;
}

.featurette {
	height: auto;
}

