{% extends 'model/index.html.twig' %}

{% block siteName %}Kino{% endblock %}

{% block footnote %}{% endblock %}

{% block imageSrc %}
    {{ 'http://image.tmdb.org/t/p/w600' ~ model.image }}
{% endblock %}

{% block body %}
    {% for model in comingMovies %}
        {{ block('model') }}
    {% endfor %}
    {% if comingMovies is empty %}
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h3 style="text-align: center">Die nächste Party kommt bestimmt!
                    Sobald wir mehr wissen, informieren wir dich hier!</h3>
            </div>
        </div>
    {% endif %}
    {% if models is not empty %}
        <div class="row">
            <h2 style="text-align: left; float: left;">Vergangene Vorstellungen</h2>
        </div>
        <hr class="featurette-divider" style="margin-top: 0;">
    {% endif %}
    {% for model in models %}
        {{ block('model') }}
    {% endfor %}
    {{ block('pagination') }}
{% endblock %}