<div class="col-md-5">
        <div style="height: 350px; overflow: hidden;">
            <img class="featurette-image img-responsive"
                 src="{{ images_directory ~ model.image }}"
                 alt="Generic placeholder image">
        </div>
</div>